<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var sock = null;
            var wsuri = "ws://" + location.host + "/ws";
            if ("WebSocket" in window) {
                sock = new WebSocket(wsuri)
            } else if ("MozWebSocket" in window) {
                sock = new MozWebSocket(wsuri);
            } else {
                console.log("Browser does not support WebSockets!");
            }

            if (sock) {
                sock.onopen = function () {
                    console.log("Connected to " + wsuri);
                }
                sock.onclose = function (e) {
                    console.log("Connection closed (wasClean = " + e.wasClean + ", code = " + e.code + ", reason = '" + e.reason + "')");
                    sock = null;
                }
                sock.onmessage = function (e) {
                    console.log("Got echo: " + e.data);
                }
            }

            function send() {
                if (sock) {
                    sock.send("hello world")
                } else {
                    console.log("Not connected")
                }
            }

        </script>
    </head>
    <body>
        <button onclick="send();">Test</button>
        See console
    </body>
</html>